/* general styles, headings, tags */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

h1,
h2,
h3 {
	font-family: 'Jersey 15', serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 8rem;
	padding: 10px;
}

h4,
h5,
h6,
p {
	font-family: 'Manrope', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

button {
	width: 100px;
	padding: 1rem;
	margin: 1rem;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}

/* alignment classes */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.center-page {
	height: 90vh;
}*/
.bottom-page {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.column {
	flex-direction: column;
}
.adjusted-down {
	padding-top: 5rem;
}

.hide {
	display: none;
}

/* color classes */

.contrast-box {
	background-color: black;
	color: rgb(255, 255, 255);
}

.explode {
	font-size: 10rem;
	color: red;
}

.btn-red {
	background-color: red;
}

.btn-orange {
	background-color: orange;
}

.btn-green {
	background-color: green;
}

/* behaviours */
#smash:hover {
	cursor: pointer;
}

/* images */

#fem-symbol {
	height: 8rem;
	padding: 10px;
}

#message-one,
#message-two,
#message-three {
	background-image: url('images/smudge.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
