/* general styles, headings, tags */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

h1,
h2,
h3 {
	font-family: 'Jersey 15', serif;
	font-weight: 400;
	font-style: normal;
	padding: 10px;
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4,
h5,
h6,
p {
	font-family: 'Manrope', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

button {
	width: 100px;
	padding: 1rem;
	margin: 1rem;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
	color: white;
	background-color: black;
	font-weight: 600;
	text-transform: uppercase;
}

label {
	padding: 20px;
}

textarea {
	font-size: 1.5rem;
	padding: 10px;
	margin-top: 1rem;
	text-align: center;
}

footer div {
	cursor: pointer;
}

/* alignment classes */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}
.adjusted-down {
	padding-top: 2rem;
}

.hide {
	display: none;
}

.form {
	padding: 10px;
}

.narrow {
	width: 60%;
	margin: 0 auto;
}

/* color classes */

.contrast-box {
	background-color: black;
	color: rgb(255, 255, 255);
}

.explode {
	font-size: 10rem;
	color: red;
}

/* behaviours */
#smash:hover {
	cursor: pointer;
}

button:hover {
	background-color: rgb(251, 250, 253);
	color: #222;
}

/* images */

#fem-symbol {
	height: 8rem;
	padding: 10px;
}

#message-one,
#message-two,
#message-three {
	background-image: url('images/smudge.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* media queries */
@media screen and (max-width: 1200px) {
	h1 {
		font-size: 6rem;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 4rem;
	}
	.center-page {
		margin-top: 0;
	}
}
